* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: $primary-text-color;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1112px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 880px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 748px;
  }
}
